---
title: Ani-Photo
layout: base.html
---

<div class="bokacard">
  <div class="kalender">
    <img style="border-radius: 0.5rem" src="/assets/img/calender.jpg" />
  </div>
  <div class="bokainfo">
    <form>
      <label for="name">Namn:</label><br />
      <input
        type="text"
        placeholder="Exempel Exempelson"
        id="name"
        name="name"
      /><br />
      <label for="number">Nummer:</label><br />
      <input
        type="text"
        placeholder="xxx-xxx xx xx"
        id="number"
        name="number"
      /><br />
      <label for="concept">Koncept:</label><br />
      <textarea
        placeholder="Beskriv kort vad och hur du vill ta kort på..."
      ></textarea
      ><br />
      <input type="button" class="button" value="Boka" />
    </form>
  </div>
</div>
