---
title: Ani-Photo
layout: base.html
---

<div class="bokacard">
    <div class="kalender">
        <h2>*placeholder för kalender*</h2>
    </div>
    <div class="bokainfo">
        <form>
            <label for="name">Namn:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="number">Nummer:</label><br>
            <input type="text" id="number" name="number"><br>
            <label for="concept">Koncept:</label><br>
            <input type="text" id="concept" name="concept">
        </form>
    </div>
</div>