---
title: Ani-Photo
layout: base.html
---

<div class="infocard">
    <div class="infotext">
        <p>Vi är en fotostudio som specialliserar att fota djur både i natur och i våran studio. Vi vill att alla ska kunna komma ihåg era kompanjoner genom livet och vilket bättre sätt än att hänga upp en bild på dem där ni kan se dem varje dag. Vi fotar alla möjliga djur men har mest erfarenhet med hundar och katter.</p>
    </div>
    <div class="kontakt">
        <h2>Kontakta oss</h2>
        <form>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="text">Text:</label><br>
            <input type="text" id="text" name="text">
            <input type="button" value="Skicka">
        </form>
    </div>
</div>