.jpg {
    max-height: 80vh;
}

.bild1 {
    display: flex;
    align-items: flex-end;
    padding: 1rem;
}

.bild2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 1rem;
}

.bild3 {
    display: flex;
    padding: 1rem;
}

.svg {
    min-width: 3.5rem;
}