@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

a {
    text-decoration: none;
    color: white;
}

h1 {
    color: white;
    font-family: 'Sacramento', cursive;
    font-weight: 100;
    font-size: 3rem;
}

h2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

.kontakt h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

h3 {
    color: white;
}

.infotext {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    max-width: 37vw;
    padding: 6rem;
}