@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

a {
    text-decoration: none;
    color: white;
}

h1 {
    color: white;
    font-family: 'Sacramento', cursive;
    font-weight: 100;
    font-size: 3rem;
}

h2 {
    color: black;
    font-family: 'Roboto', sans-serif;
}

h3 {
    color: white;
}